@font-face {
   font-family: Custom;
   src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
:root {
   --color1: hsl(0, 0%, 20%);
   --color2: hsl(0, 0%, 12%);
   --color3: hsl(0, 0%, 8%);
   --color4: hsl(75, 94%, 57%);
}

html, body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Custom;
   background-color: var(--color3);
}
* {
   margin: 0;
   padding: 0;
   font-size: 16px;
}
.card {
   border-radius: 12px;
   background-color: var(--color2);
   margin: 170px auto 0 auto;
   color: white;
   text-align: center;
   padding: 30px;
   max-width: 290px;
   font-family: Custom;
}
img {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   margin-bottom: 20px;
}
h1 {
   font-size: 22px;
}
h2 {
   color: var(--color4);
   font-size: 13px;
   margin-top: 7px;
   letter-spacing: .2px;
}
p {
   font-size: 13px;
   margin-top: 15px;
   margin-bottom: 15px;
}
.btn {
   color: white;
   border-radius: 20px;
   background-color: var(--color1);
   margin-bottom: 20px;
   border-radius: 3px;
   font-size: 14px;
   padding: 12px 40px;
}
a {
   text-decoration: none;
   color: var(--color4);
   font-size: 13px;
}
